<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate TOTP</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- External CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='qrcode.js') }}"></script>

</head>
<body>
    <div class="login-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h2 class="text-center">Activate TOTP</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div id="qrcode" class="d-flex justify-content-center"></div>
        <form action="/activate_otp" method="post">
            <div class="form-group">
                <label for="otp">OTP</label>
                <input type="text" class="form-control" id="otp" name="otp" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        const urlParams = new URLSearchParams(window.location.search);
        const ISSUER = 'E2EECHAT'
        const shared_secret = urlParams.get('secret');
        const username = urlParams.get('username');
        new QRCode("qrcode", `otpauth://totp/${ISSUER}:${username}?secret=${shared_secret}&issuer=${ISSUER}`);
    </script>
</body>
</html>
